[Desktop Entry]
Name=AppAccessLocker
Comment=Protect your applications with a PIN
Exec=app-access-locker
Icon=dialog-password
Terminal=false
Type=Application
Categories=System;Security;Utility;
Keywords=Lock;Security;PIN;